<nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img id='imageL' src='/images/Iemphourfinal.png'></img>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">Search Listings</a></li>
              <li><a href="#">About Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Just In Case</a></li>
                  <li><a href="#">What a Dropdown</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">More links</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id='fullBody'>
        <div class='main'>
          <div class='container-fluid'>
            <div class='row'>
              <div class='col-xs-12 col-md-6 col-md-offset-3 text-center'>
                <div id='imageDiv'>
                    <img id='imageI' src='/images/TheIemphourI.png'></img>
                    <!--HOW DO I MAKE NGSHOW IMAGE BASED ON SIZE OF SCREEN-->
                </div><!--End of imageDiv-->
              </div><!--End of col-xs-12-->
            </div><!--End of row-->
            <div id='mainText' class='row'>
              <div class='col-sm-12 text-center'>
                <div class='mainTextDiv'>
                  <h1>WORK-ON-DEMAND</h1>
                  <p class='text1'><span>empowering</span> employment opportunities</p>
                  <p class='text2'>UNLEASH <span>your earning</span> POTENTIAL</p>
                </div><!--End of mainTextDiv-->
              </div><!--End of col-sm-12-->
            </div><!--End of row-->
            <div class='row'>
              <div class='col-xs-12 col-md-6 col-md-offset-3'>
                <div id='loginDiv'  ng-controller='indexLoginController as loginCtrl'>
                  <form novalidate class='simple-form'>
                    <div class="form-group col-sm-6">
                      <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" ng-model='user.password' placeholder="Password">
                    </div>
                    <div class='form-group form-group-login col-xs-12'>
                      <input type="submit" class="btn btn-login raised" ng-click='loginCtrl.locate(user)' value='Login'></input>
                      <input class='btn btn-login raised' type='button' ng-click='loginCtrl.directToRegister()' value='Register'></input>
                      <span class="label label-default">Not a member, click register</span>
                    </div>
                  </form>
                  <!--HOW DO I SUBMIT INFO FOR VALIDATING AND THEN REDIRECT TO PAGE-->
                  <!--<a href='portfolio' class='btn btn-login raised' role='button'>Login</a>-->
                  
                </div><!--End of loginDiv-->
              </div><!--End of col-xs-12-->
            </div><!--End of row-->
          </div><!--End of container-fluid-->
        </div><!--End of main-->
      </div><!--End of fullBody-->