.iemphour-block{
    display:block;    
}

.iemphour-inline{
    display:inline;
}

body { 
    padding-top: 50px;
}

.navbar{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b1b1b+0,383838+13,4e4e4e+24,0a0a0a+47,010101+50,0d0d0d+54,959595+100 */
background: #1b1b1b; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #1b1b1b 0%, #383838 13%, #4e4e4e 24%, #0a0a0a 47%, #010101 50%, #0d0d0d 54%, #959595 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #1b1b1b 0%,#383838 13%,#4e4e4e 24%,#0a0a0a 47%,#010101 50%,#0d0d0d 54%,#959595 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #1b1b1b 0%,#383838 13%,#4e4e4e 24%,#0a0a0a 47%,#010101 50%,#0d0d0d 54%,#959595 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#959595',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar-inverse .navbar-nav>li>a{
    color:white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color:white;
    text-shadow: 2px 2px 8px #059BD1;
}

.navbar-brand img{
    width:32px;
}



#footer{
    margin:0;
    border-radius:0px;
}

@media (min-width: 768px) {
    
    .main{
        height:calc(100vh - 100px);
    }
}